<ul>
  <li>Creational Patterns
    <ul>
      <li><a href="#!/patterns/factory">Factory</a></li>
      <li><a href="#!/patterns/abstract_factory">Abstract Factory</a></li>
      <li><a href="#!/patterns/factory_method">Factory Method</a></li>
      <li><a href="#!/patterns/builder">Builder</a></li>
      <li><a href="#!/patterns/prototype">Prototype</a></li>
      <li><a href="#!/patterns/singleton">Singleton</a></li>
    </ul>
  </li>
  <li>Structural Patterns
    <ul>
      <li><a href="#!/patterns/adapter">Adapter</a></li>
      <li><a href="#!/patterns/bridge">Bridge</a></li>
      <li><a href="#!/patterns/composite">Composite</a></li>
      <li><a href="#!/patterns/decorator">Decorator</a></li>
      <li><a href="#!/patterns/facade">Facade</a></li>
      <li><a href="#!/patterns/flyweight">Flyweight</a></li>
      <li><a href="#!/patterns/proxy">Proxy</a></li>
    </ul>
  </li>
  <li>Behavioral Patterns
    <ul>
        <li><a href="#!/patterns/chain_of_responsibility">Chain of Responsibility</a></li>
        <li><a href="#!/patterns/command">Command</a></li>
        <li><a href="#!/patterns/interpreter">Interpreter</a></li>
        <li><a href="#!/patterns/iterator">Iterator</a></li>
        <li><a href="#!/patterns/mediator">Mediator</a></li>
        <li><a href="#!/patterns/memento">Memento</a></li>
        <li><a href="#!/patterns/observer">Observer</a></li>
        <li><a href="#!/patterns/state">State</a></li>
        <li><a href="#!/patterns/strategy">Strategy</a></li>
        <li><a href="#!/patterns/template_method">Template Method</a></li>
        <li><a href="#!/patterns/visitor">Visitor</a></li>
    </ul>
  </li>
</ul>

<script>
  const me = document.currentScript.ownerDocument;
  const post = me.querySelector('ul');
  const container = document.querySelector('aside');
  container.appendChild(post.cloneNode(true));
</script>